/* Increase the navbar height */
.navbar {
  padding-top: 20px; /* Adjust the value to increase/decrease the height */
  padding-bottom: 20px; /* Adjust the value to increase/decrease the height */
}

.bg-custom {
  background: linear-gradient(to bottom, #29626c, #6dc3bd);
}

/* Adjust the navbar brand alignment */
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%; /* Maintain full height of navbar */
}

.navbar-brand img {
  margin-right: 10px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
  width: auto;
}

h3 {
  margin: 0px 2px 0; /* Reset default margin */
  font-size: 2rem;
  color: white;
}

/* Style the navbar links to be horizontal */
.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none; /* Remove bullet points */
  margin: 0; /* Remove default margin */
  flex-direction: row;
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Adjust spacing between items */
  margin-left: 0;
}

.navbar-nav .nav-link {
  color: white; /* Set the font color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Add transition effect */
  margin-right: 40px;
}

.navbar-nav .nav-link:hover {
  color: #000000; /* Change color on hover to a contrasting color */
}

.navbar-nav .nav-link h4 {
  color: white;
  font-size: 1rem;
}

/*-------------------------------------------------------------------------------*/
/*PRIVACY CONTENT START HERE*/

#content-2 {
  background: #fff;
  padding: 80px 0px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

p {
  margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 15px;
}

h1,
.h1 {
  font-size: 36px;
  font-weight: 600;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style-type: disc;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}

a {
  color: #428bca;
  text-decoration: none;
}

/*-------------------------------------------------------------------------------*/
/*Footer START HERE*/

#footer {
  background: linear-gradient(to bottom, #29626c, #6dc3bd);
  text-align: center;
  padding-top: 75px;
  padding-bottom: 50px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.footer-contant h3 {
  color: #ffffff;
  font-size: 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin: 0px;
  padding-bottom: 30px;
}

.social-icon a {
  margin-right: 10px;
  display: inline-block; /* Add this line to make icons display properly */
}

.social-icon a i {
  border-radius: 100%;
  color: #ffffff;
  font-size: 30px;
  height: 42px;
  width: 42px;
  line-height: 24px;
  text-align: center;
}

.support-link {
  padding-top: 26px;
}

/* Add this CSS to make the list items display in a row */
.support-link ul {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Adjust as needed */
  list-style-type: none;
}

.support-link li {
  margin-right: 40px;
}

.support-link a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

/* Media Querry For Mobile */
@media (max-width: 576px) {
  .navbar-brand img {
    margin-right: 10px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    width: auto;
  }

  h3 {
    margin: 0px 2px 0; /* Reset default margin */
    font-size: 1.5rem;
    color: white;
  }

  /* Style the navbar links to be horizontal */
  .navbar-nav {
    display: flex;
    margin: 0 -25px -10px 0; /* Remove default margin */
    flex-direction: row;
  }

  .navbar-nav .nav-item {
    margin-right: -2px; /* Adjust spacing between items */
  }

  .navbar-nav .nav-link {
    transition: color 0.3s; /* Add transition effect */
    margin-right: 26px;
  }

  .navbar-nav .nav-link:hover {
    color: #000000; /* Change color on hover to a contrasting color */
  }

  .navbar-nav .nav-link h4 {
    font-size: 1rem;
  }
}
